<!DOCTYPE html>
<html>
<head>
  <title>PUAP You!</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
</head>
<body>

<div id="fb-root">
  <!-- The JS SDK requires the fb-root element in order to load properly. -->
</div>
<script>
    window.fbAsyncInit = function() {
        FB.init({
            appId      : '300992679973693', // App ID
            channelUrl : '//ogapp.heroku.com/channel.html', // Channel File
            status     : true, // check login status
            cookie     : true, // enable cookies to allow the server to access the session
            xfbml      : true  // parse XFBML
        });

        // Additional initialization code here
        FB.getLoginStatus(function(response) {
            if (response.authResponse) {
                //alert('Welcome!  Fetching your information.... ');
                var access_token = response.authResponse.accessToken;
                FB.api('/me', function(response) {
                    //alert('Good to see you, ' + response.name + '.');
                    try {
                        $.ajax({url:
                                'https://ogapp.herokuapp.com/story/persist_user?uid=' + response.id + '&name=' + response.name + "&access_token=" + access_token});
                    } catch (e) {
                        alert("Trying to post back: " + e);
                    }
                });
            } else {
                alert('Something went wrong!');
            }
        });
    };

    // Load the SDK Asynchronously
    (function(d){
        var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement('script'); js.id = id; js.async = true;
        js.src = "//connect.facebook.net/en_US/all.js";
        ref.parentNode.insertBefore(js, ref);
    }(document));
</script>

<h3>PUAP THIS</h3>
<br>
<a href="test_api">Test API</a>

<p></p>
<form action="/story/publish_action">
og:action: <input type="text" name="og:action"><br>
og:type: <input type="text" name="og:type"><br>
og:title: <input type="text" name="og:title"><br>
og:description: <input type="text" name="og:description"><br>
og:image: <input type="text" name="og:image"><br>
content_url: <input type="text" name="content_url"><br>
<input type="submit" value="Publish">
</form>
<hr/>
<form action="/story/publish_action?og:action=read">
news.read object url: <input type="text" name="og:url" size="30"> <input type="submit" value="Publish">
</form>


</body>
</html>