<!DOCTYPE html>
<html>
<head>
  <title>PUAP You!</title>
</head>
<body>

<div id="fb-root">
  <!-- The JS SDK requires the fb-root element in order to load properly. -->
</div>
<script>
    window.fbAsyncInit = function() {
        FB.init({
            appId      : '300992679973693', // App ID
            channelUrl : '//ogapp.heroku.com/channel.html', // Channel File
            status     : true, // check login status
            cookie     : true, // enable cookies to allow the server to access the session
            xfbml      : true  // parse XFBML
        });

        // Additional initialization code here

        FB.login(function(response) {
            if (response.authResponse) {
                console.log('Welcome!  Fetching your information.... ');
                FB.api('/me', function(response) {
                    console.log('Good to see you, ' + response.name + '.');
                });
            } else {
                console.log('User cancelled login or did not fully authorize.');
            }
        });
    };

    // Load the SDK Asynchronously
    (function(d){
        var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement('script'); js.id = id; js.async = true;
        js.src = "//connect.facebook.net/en_US/all.js";
        ref.parentNode.insertBefore(js, ref);
    }(document));
</script>


</body>
</html>