<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
  <title>PUAP You!</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
</head>

<body>

<form action="/story/obj_page_create_submit">
  og:type <input type="text" width="30" name="og:type"><br>
  og:title <input type="text" width="30" name="og:title"><br>
  og:description <input type="text" width="30" name="og:description"><br>
  og:image <input type="text" width="30" name="og:image"><br>
  content url: <input type="text" width="30" name="content_url"><br>
  <input type="submit">
</form>

</body>